/* =========================
   CUBE ROTATING TEXT
========================= */

.cube-wrapper {
  height: 40px;
  overflow: hidden;
  perspective: 1000px;
  display: flex;
}

.cube-inner {
  display: flex;
  flex-direction: column;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.cube-face {
  height: 52px;
  display: flex;
  font-family: Raleway;
  font-size: 33px;          /* default for laptop & desktop */
  font-weight: 400;
  white-space: nowrap;
  opacity: 0.9;
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
