/* ================================
   STACKED ROUND BOX VERSION
================================ */

.stack-sta {
  height: 300vh;
  position: relative;
  z-index: 100012;
}

.stack-wrapp {
  position: sticky;
  top: 19vh;
  height: 90vh;
  width: 98%;
  margin: 0 auto;
  border-radius: 40px;
  background: black;
  overflow: hidden;
  box-shadow: 0 30px 80px rgba(0,0,0,0.12);
  z-index: 10;
  will-change: transform;
}

.stack-wrapp.stuck .stack-scro {
  overflow-y: auto;
}

.stack-scro {
  height: 100%;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

